<!-- Char Name -->
	<div class="row">
		<div class="input-field col s3">
  		<input placeholder="Character Name" id="char_name" type="text" ng-model="charName">
  	</div>



<!-- Race Select -->
		<div class="input-field col s3">
	    <select id="raceSelect" ng-model="selectedRace" ng-change="subRaceFilter()">
	      <option value="" disabled selected>Choose a Race</option>
	      <option value="Human">Human</option>
				<option value="Dwarf">Dwarf</option>
				<option value="Elf">Elf</option>
				<option value="Halfling">Halfling</option>
				<option value="Gnome">Gnome</option>
				<option value="Half-Elf">Half-Elf</option>
				<option value="Half-Orc">Half-Orc</option>
				<option value="Dragonborn">Dragonborn</option>
				<option value="Tiefling">Tiefling</option>
	    </select>
	  </div>
	  <div class="input-field col s3">
			<select id="subRaceSelect" placeholder="Choose a Sub-Race" ng-model="subRace"
				ng-options="value for value in subRaceFilter()">
			</select>
		</div>


	 <!-- Class Select -->
	 <!-- TO-DO: ADD SUPPORT FOR CLASS ARCHETYPES? NOT MVP!! -->
	 <div class="input-field col s3">
	    <select id="classSelect"ng-model="class">
	      <option value="" disabled selected>Choose a Class</option>
	      <option value="barbarian">Barbarian</option>
				<option value="bard">Bard</option>
				<option value="cleric">Cleric</option>
				<option value="druid">Druid</option>
				<option value="fighter">Fighter</option>
				<option value="monk">Monk</option>
				<option value="paladin">Paladin</option>
				<option value="ranger">Ranger</option>
				<option value="rogue">Rogue</option>
				<option value="sorcerer">Sorcerer</option>
				<option value="warlock">Warlock</option>
				<option value="wizard">Wizard</option>
	    </select>
	  </div>


	  <!-- Alignment -->
	<div class="input-field col s3">
	    <select id="alignmentSelect" ng-model="alignment">
	      <option value="" disabled selected>Pick your Alignment</option>
	      <option value="lawGood">Lawful Good</option>
				<option value="lawNeut">Lawful Neutral</option>
				<option value="lawEvil">Lawful Evil</option>
				<option value="neutGood">Neutral Good</option>
				<option value="trueNeut">True Neutral</option>
				<option value="neutEvil">Neutral Evil</option>
				<option value="chaoGood">Chaotic Good</option>
				<option value="chaoNeut">Chaotic Neutral</option>
				<option value="chaoEvil">Chaotic Evil</option>
	    </select>
	  </div>
	</div>



<div class="statsBox" >
	<div ng-model="object[Strength]">Strength: {{ object.Strength }} <button ng-click="statRoll('Strength')">roll</button></div>
	<div ng-model="object[Dexterity]">Dexterity: {{ object.Dexterity }} <button ng-click="statRoll('Dexterity')">roll</button></div>
	<div ng-model="object[Constitution]">Constitution: {{ object.Constitution }} <button ng-click="statRoll('Constitution')">roll</button></div>
	<div ng-model="object[Intelligence]">Intelligence: {{ object.Intelligence }} <button ng-click="statRoll('Intelligence')">roll</button></div>
	<div ng-model="object[Wisdom]">Wisdom: {{ object.Wisdom }} <button ng-click="statRoll('Wisdom')">roll</button></div>
	<div ng-model="object[Charisma]">Charisma: {{ object.Charisma }} <button ng-click="statRoll('Charisma')">roll</button></div>
</div>

















