<!-- Char Name -->
	<div class="row">
		<div class="input-field col s3">
  		<input placeholder="Character Name" id="char_name" type="text">
  	</div>



<!-- Race Select -->
<!-- TO-DO: ADD SUPPORT FOR SUBRACES -->
		<div class="input-field col s3">
	    <select id="raceSelect" ng-model="selectedRace" ng-change="subRaceFilter()">
	      <option value="" disabled selected>Choose a Race</option>
	      <option value="Human">Human</option>
				<option value="Dwarf">Dwarf</option>
				<option value="Elf">Elf</option>
				<option value="Halfling">Halfling</option>
				<option value="Gnome">Gnome</option>
				<option value="Half-Elf">Half-Elf</option>
				<option value="Half-Orc">Half-Orc</option>
				<option value="Dragonborn">Dragonborn</option>
				<option value="Tiefling">Tiefling</option>
	    </select>
	  </div>


	 <!-- Class Select -->
	 <!-- TO-DO: ADD SUPPORT FOR CLASS ARCHETYPES? -->
	 <div class="input-field col s3">
	    <select id="classSelect">
	      <option value="" disabled selected>Choose a Class</option>
	      <option value="barbarian">Barbarian</option>
				<option value="bard">Bard</option>
				<option value="cleric">Cleric</option>
				<option value="druid">Druid</option>
				<option value="fighter">Fighter</option>
				<option value="monk">Monk</option>
				<option value="paladin">Paladin</option>
				<option value="ranger">Ranger</option>
				<option value="rogue">Rogue</option>
				<option value="sorcerer">Sorcerer</option>
				<option value="warlock">Warlock</option>
				<option value="wizard">Wizard</option>
	    </select>
	  </div>


	  <!-- Alignment -->
	<div class="input-field col s3">
	    <select id="alignmentSelect">
	      <option value="" disabled selected>Pick your Alignment</option>
	      <option value="lawGood">Lawful Good</option>
				<option value="lawNeut">Lawful Neutral</option>
				<option value="lawEvil">Lawful Evil</option>
				<option value="neutGood">Neutral Good</option>
				<option value="trueNeut">True Neutral</option>
				<option value="neutEvil">Neutral Evil</option>
				<option value="chaoGood">Chaotic Good</option>
				<option value="chaoNeut">Chaotic Neutral</option>
				<option value="chaoEvil">Chaotic Evil</option>
	    </select>
	  </div>
	</div>

<div class="row">

	<div class="input-field col s3">
		<select id="subRaceSelect">
			<option value="" disabled selected>Sub-Race</option>
			<optgroup label="Dwarf">
				<option value="hillDwarf">Hill Dwarf</option>
				<option value="mtnDwarf">Mountain Dwarf</option>
			</optgroup>
			<optgroup label="Elf">
				<option value="highElf">High Elf</option>
				<option value="woodElf">Wood Elf</option>
				<option value="drowElf">Dark Elf</option>
			</optgroup>
			<optgroup label="Halfling">
				<option value="lightHalf">Lightfoot</option>
				<option value="stoutHalf">Stout</option>
			</optgroup>
			<optgroup label="Human">
				<option value="calishite">Calishite</option>
				<option value="chondathan">Chondathan</option>
				<option value="damaran">Damaran</option>
				<option value="illuskan">Illuskan</option>
				<option value="mulan">Mulan</option>
				<option value="rashemi">Rashemi</option>
				<option value="shou">Shou</option>
				<option value="tethyrian">Tethyrian</option>
				<option value="turami">Turami</option>
			</optgroup>
			<optgroup label="Gnome">
				<option value="forGnome">Forest Gnome</option>
				<option value="rockGnome">Rock Gnome</option>
				<option value="deepGnome">Deep Gnome</option>
			</optgroup>
		</select>
	</div>


</div>
