<!-- Char Name -->
	<div class="row">
		<div class="input-field col s3">
  		<input placeholder="Character Name" id="char_name" type="text" ng-model="charName">
  	</div>



<!-- Race Select -->
		<div class="input-field col s3">
	    <select id="raceSelect" ng-model="selectedRace" ng-change="subRaceFilter()">
	      <option value="" disabled selected>Choose a Race</option>
	      <option value="Human">Human</option>
				<option value="Dwarf">Dwarf</option>
				<option value="Elf">Elf</option>
				<option value="Halfling">Halfling</option>
				<option value="Gnome">Gnome</option>
				<option value="Half-Elf">Half-Elf</option>
				<option value="Half-Orc">Half-Orc</option>
				<option value="Dragonborn">Dragonborn</option>
				<option value="Tiefling">Tiefling</option>
	    </select>
	  </div>

	  <div class="input-field col s3">
			<select id="subRaceSelect"  ng-model="subRace"
				ng-options="value for value in subRaceFilter()">
				<option value="" disabled selected>Choose a Sub-Race</option>
			</select>
		</div>


	 <!-- Class Select -->
	 <!-- TO-DO: ADD SUPPORT FOR CLASS ARCHETYPES? NOT MVP!! -->
	 <div class="input-field col s3">
	    <select id="classSelect" ng-model="class" ng-change="skillSelect()">
	      <option value="" disabled selected>Choose a Class</option>
	      <option value="Barbarian">Barbarian</option>
				<option value="Bard">Bard</option>
				<option value="Cleric">Cleric</option>
				<option value="Druid">Druid</option>
				<option value="Fighter">Fighter</option>
				<option value="Monk">Monk</option>
				<option value="Paladin">Paladin</option>
				<option value="Ranger">Ranger</option>
				<option value="Rogue">Rogue</option>
				<option value="Sorcerer">Sorcerer</option>
				<option value="Warlock">Warlock</option>
				<option value="Wizard">Wizard</option>
	    </select>
	  </div>


	  <!-- Alignment -->
	<div class="input-field col s3">
	    <select id="alignmentSelect" ng-model="alignment">
	      <option value="" disabled selected>Pick your Alignment</option>
	      <option value="Lawful Good">Lawful Good</option>
				<option value="Lawful Neutral">Lawful Neutral</option>
				<option value="Lawful Evil">Lawful Evil</option>
				<option value="Neutral Good">Neutral Good</option>
				<option value="True Neutral">True Neutral</option>
				<option value="Neutral Evil">Neutral Evil</option>
				<option value="Chaotic Good">Chaotic Good</option>
				<option value="Chaotic Neutral">Chaotic Neutral</option>
				<option value="Chaotic Evil">Chaotic Evil</option>
	    </select>
	  </div>
	</div>

	<!-- Background -->
	<div class="input-field">
		<select id="backgrounds" ng-model="background" ng-change="backgroundSkills()">
			<option value="" disabled selected>Pick Your Background</option>
			<option value="Acolyte">Acolyte</option>
			<option value="Charlatan">Charlatan</option>
			<option value="Criminal">Criminal</option>
			<option value="Entertainer">Entertainer</option>
			<option value="Folk Hero">Folk Hero</option>
			<option value="Guild Artisan">Guild Artisan</option>
			<option value="Hermit">Hermit</option>
			<option value="Noble">Noble</option>
			<option value="Outlander">Outlander</option>
			<option value="Sage">Sage</option>
			<option value="Sailor">Sailor</option>
			<option value="Soldier">Soldier</option>
			<option value="Urchin">Urchin</option>
		</select>
	</div>


<!-- Ability Scores -->
<div class="statsBox"><h4>Ability Scores</h4>
	<div ng-model="CharObject[Strength]">Strength: {{ CharObject.Strength }} <button ng-if="(CharObject.Strength != null)" ng-click="statRoll('Strength')">roll</button></div>
	<div ng-model="CharObject[Dexterity]">Dexterity: {{ CharObject.Dexterity }} <button ng-if="(CharObject.Dexterity != null)" ng-click="statRoll('Dexterity')">roll</button></div>
	<div ng-model="CharObject[Constitution]">Constitution: {{ CharObject.Constitution }} <button ng-if="(CharObject.Constitution != null)" ng-click="statRoll('Constitution')">roll</button></div>
	<div ng-model="CharObject[Intelligence]">Intelligence: {{ CharObject.Intelligence }} <button ng-if="(CharObject.Intelligence != null)" ng-click="statRoll('Intelligence')">roll</button></div>
	<div ng-model="CharObject[Wisdom]">Wisdom: {{ CharObject.Wisdom }} <button ng-if="(CharObject.Wisdom != null)" ng-click="statRoll('Wisdom')">roll</button></div>
	<div ng-model="CharObject[Charisma]">Charisma: {{ CharObject.Charisma }} <button ng-if="(CharObject.Charisma != null)" ng-click="statRoll('Charisma')">roll</button></div>
	<div><button ng-click="rollAll()">Roll for Scores</button><button ng-click="applyBonus()">Apply Racial Bonuses</button></div>
</div>
<div ng-if="(CharObject.Constitution != null && CharObject.class != null)">Hit Points: {{ CharObject.HitPoints }}</div>
<div ng-if="(CharObject.class != null)">Saving Throws: {{ CharObject.SavingThrows }}</div>


<!-- Skills -->
<div id="skillsBox"><h4>Choose 2:</h4><h5>Bards can choose up to 3:</h5><h5>Rogues can choose up to 4:</h5>
  <label>Acrobatics:
    <input type="checkbox" id="acrobaticsSkill" ng-model="skillsCheckBox.Acrobatics" disabled>
  </label><br/>
  <label>Animal Handling:
    <input type="checkbox" id="animalhandlingSkill" ng-model="skillsCheckBox.AnimalHandling" disabled>
  </label><br/>
  <label>Arcana:
    <input type="checkbox" id="arcanaSkill" ng-model="skillsCheckBox.Arcana" disabled>
  </label><br/>
	<label>Athletics:
    <input type="checkbox" id="athleticsSkill" ng-model="skillsCheckBox.Athletics" disabled>
  </label><br/>
  <label>Deception:
    <input type="checkbox" id="deceptionSkill" ng-model="skillsCheckBox.Deception" disabled>
  </label><br/>
    <label>History:
    <input type="checkbox" id="historySkill" ng-model="skillsCheckBox.History" disabled>
  </label><br/>
    <label>Insight:
    <input type="checkbox" id="insightSkill" ng-model="skillsCheckBox.Insight" disabled>
  </label><br/>
    <label>Intimidation:
    <input type="checkbox" id="intimidationSkill" ng-model="skillsCheckBox.Intimidation" disabled>
  </label><br/>
    <label>Investigation:
    <input type="checkbox" id="investigationSkill" ng-model="skillsCheckBox.Investigation" disabled>
  </label><br/>
    <label>Medicine:
    <input type="checkbox" id="medicineSkill" ng-model="skillsCheckBox.Medicine"disabled>
  </label><br/>
    <label>Nature:
    <input type="checkbox" id="natureSkill" ng-model="skillsCheckBox.Nature" disabled>
  </label><br/>
    <label>Perception:
    <input type="checkbox" id="perceptionSkill" ng-model="skillsCheckBox.Perception" disabled>
  </label><br/>
    <label>Performance:
    <input type="checkbox" id="performanceSkill" ng-model="skillsCheckBox.Performance" disabled>
  </label><br/>
    <label>Persuasion:
    <input type="checkbox" id="persuasionSkill" ng-model="skillsCheckBox.Persuasion" disabled>
  </label><br/>
    <label>Religion:
    <input type="checkbox" id="religionSkill" ng-model="skillsCheckBox.Religion" disabled>
  </label><br/>
    <label>Sleight of Hand:
    <input type="checkbox" id="sleightofhandSkill" ng-model="skillsCheckBox.SleightOfHand" disabled>
  </label><br/>
    <label>Stealth:
    <input type="checkbox" id="stealthSkill" ng-model="skillsCheckBox.Stealth" disabled>
  </label><br/>
    <label>Survival:
    <input type="checkbox" id="survivalSkill" ng-model="skillsCheckBox.Survival" disabled>
  </label><br/>

</div>
<div ng-if="(CharObject.Charisma != null)"><button ng-click="saveChar()">
SAVE</button></div>












