<div class="nav-wrapper">
  <a href="#" class="brand-logo center">Tavern</a>
  <a href="/#/logout" class="right" ng-if="!isAuthenticated()">Logout</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><a href="https://vk.com/doc30076597_321983871" target="_blank">Online Rulebook</a></li>
    <li><a href="http://ephe.github.io/grimoire/" target="_blank">Online Spell-List</a></li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
    <li><a href="https://vk.com/doc30076597_321983871" target="_blank">Online Rulebook</a></li>
    <li><a href="http://ephe.github.io/grimoire/" target="_blank">Online Spell-List</a></li>
  </ul>
</div>