<div class="nav-wrapper" ng-controller="NavCtrl">
  <a href="#" class="brand-logo right">Tavern</a>
  <ul id="nav-mobile" class="left">
    <li><a href="https://vk.com/doc30076597_321983871" target="_blank">Rulebook</a></li>
    <li><a class="btn tooltipped" data-position="bottom" data-tooltip="I don't exist anymore" href="http://ephe.github.io/grimoire/" target="_blank">Spell-List</a></li>
    <li ng-if="isAuthenticated()"><a href="#/CharList" >My Characters</a></li>
    <li ng-if="isAuthenticated()"><a href="#/main" >Character Builder</a></li>
  	<li  ng-if="isAuthenticated()"><a href="#/logout" class="right" id="logoutBtn" ng-click="logout()">Logout</a></li>
  </ul>
</div>
